USE [master]
GO
/****** Object:  Database [SNP]    Script Date: 09.05.2026 17:43:49 ******/
CREATE DATABASE [SNP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SNP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SNP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SNP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SNP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SNP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SNP]
GO
/****** Object:  Table [dbo].[Задача]    Script Date: 09.05.2026 17:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Задача](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[КодПроекта] [int] NOT NULL,
	[КодИсполнителя] [int] NULL,
	[НаименованиеСтатуса] [nvarchar](20) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[ДатаОкончания] [date] NULL,
	[Приоритет] [int] NOT NULL,
 CONSTRAINT [PK_Задача] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Комментарий]    Script Date: 09.05.2026 17:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Комментарий](
	[КодЗадачи] [int] NOT NULL,
	[КодПользователя] [int] NOT NULL,
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Текст] [nvarchar](max) NOT NULL,
	[ДатаСоздания] [datetime] NOT NULL,
 CONSTRAINT [PK_Комментарий] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 09.05.2026 17:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[РольПользователя] [nvarchar](20) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ПарольHash] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Проект]    Script Date: 09.05.2026 17:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Проект](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](max) NULL,
 CONSTRAINT [PK_Проект] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роль]    Script Date: 09.05.2026 17:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роль](
	[Наименование] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Роль] PRIMARY KEY CLUSTERED 
(
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 09.05.2026 17:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[Наименование] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Пользователь] ON 
INSERT [dbo].[Пользователь] ([Код], [РольПользователя], [Имя], [Email], [ПарольHash]) VALUES (2, N'Администратор', N'Админ', N'Admin@mail.ru', N'AQAAAAIAAYagAAAAEITKfFyvUE4hSEOEUCtvkazGxPB4D8Kmug9kgS1TUpv6U4H/tsKTGKwank16WKJ6hg==')
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
GO

INSERT [dbo].[Роль] ([Наименование]) VALUES (N'Администратор')
INSERT [dbo].[Роль] ([Наименование]) VALUES (N'Менеджер')
INSERT [dbo].[Роль] ([Наименование]) VALUES (N'Разработчик')
GO
INSERT [dbo].[Статус] ([Наименование]) VALUES (N'В работе')
INSERT [dbo].[Статус] ([Наименование]) VALUES (N'Завершено')
INSERT [dbo].[Статус] ([Наименование]) VALUES (N'К выполнению')
GO
ALTER TABLE [dbo].[Комментарий] ADD  DEFAULT (getdate()) FOR [ДатаСоздания]
GO
ALTER TABLE [dbo].[Задача]  WITH CHECK ADD  CONSTRAINT [FK_Задача_Пользователь] FOREIGN KEY([КодИсполнителя])
REFERENCES [dbo].[Пользователь] ([Код])
GO
ALTER TABLE [dbo].[Задача] CHECK CONSTRAINT [FK_Задача_Пользователь]
GO
ALTER TABLE [dbo].[Задача]  WITH CHECK ADD  CONSTRAINT [FK_Задача_Проект] FOREIGN KEY([КодПроекта])
REFERENCES [dbo].[Проект] ([Код])
GO
ALTER TABLE [dbo].[Задача] CHECK CONSTRAINT [FK_Задача_Проект]
GO
ALTER TABLE [dbo].[Задача]  WITH CHECK ADD  CONSTRAINT [FK_Задача_Статус] FOREIGN KEY([НаименованиеСтатуса])
REFERENCES [dbo].[Статус] ([Наименование])
GO
ALTER TABLE [dbo].[Задача] CHECK CONSTRAINT [FK_Задача_Статус]
GO
ALTER TABLE [dbo].[Комментарий]  WITH CHECK ADD  CONSTRAINT [FK_Комментарий_Задача] FOREIGN KEY([КодЗадачи])
REFERENCES [dbo].[Задача] ([Код])
GO
ALTER TABLE [dbo].[Комментарий] CHECK CONSTRAINT [FK_Комментарий_Задача]
GO
ALTER TABLE [dbo].[Комментарий]  WITH CHECK ADD  CONSTRAINT [FK_Комментарий_Пользователь] FOREIGN KEY([КодПользователя])
REFERENCES [dbo].[Пользователь] ([Код])
GO
ALTER TABLE [dbo].[Комментарий] CHECK CONSTRAINT [FK_Комментарий_Пользователь]
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD  CONSTRAINT [FK_Пользователь_Роль] FOREIGN KEY([РольПользователя])
REFERENCES [dbo].[Роль] ([Наименование])
GO
ALTER TABLE [dbo].[Пользователь] CHECK CONSTRAINT [FK_Пользователь_Роль]
GO
USE [master]
GO
